@use '../abstracts' as *;

.books {
  &__table {
    width: 100%;
    border-spacing: 0;

    &__header {
      .books__table__row {
        background-color: $orange;
        color: $white;
      }
    }

    &__body {
      .books__table__row {
        cursor: pointer;

        &:nth-child(odd) {
          background-color: lighten($orange, 50%);

          @include active {
            background-color: lighten($orange, 48%);
          }
        }

        &:nth-child(even) {
          background-color: lighten($orange, 45%);

          @include active {
            background-color: lighten($orange, 43%);
          }
        }
      }
    }

    &__cell {
      padding: 0.5rem;
      text-align: left;
    }
  }

  &__note {
    margin-top: 0.5rem;
    color: #4d4d4d;
    font-size: 0.75rem;
  }
}
